<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn btn-link btn-nav pull-left" href="#goals">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <h1 class="title">Define goal</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content content-padded">

<form class="input-group">
  <div class="input-row">
    <label>Target in {{userCurrency}}</label>
    <input type="text" placeholder="500" ng-model="currentGoal.target" >
  </div>
  <div class="input-row">
    <label>Goal Date</label>
    <input type="date" placeholder="{{getTodayForDateField()}}" value="{{getTodayForDateField()}}" ng-model="currentGoal.timestamp" >
  </div>
  <div class="input-row">
    <label>Description</label>
    <textarea rows="3" ng-model="currentGoal.description"></textarea>
  </div>
   <div class="input-row">
    <button class="btn btn-positive btn-block" ng-click="saveGoal()">Save</button>
  </div>  
</form>

</div>