.category-icon {
  display: block;
  position: static;
  width: 30px;
  height: 30px;
  text-align: center;
  float: left;
  border-radius: 15px;
  margin: 0 10px 0 0;

  i {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: 7px 0 0 -1px;
  }

}

.feed-detail {

  .input-row {
    label {
      color: #969696;
    }
  }

  .category {

    input {
      float: left;
      width: 55%;
      margin: 0;
      float: left;
    }

    .category-icon {
      margin: 5px 0 0 0;
    }
  }
}