.settings {

  // styling for add category screen
  &.add-category {

    h3 {
      margin: 10px 0 8px 10px;
    }

    .color-list {
      padding: 0 0 15px 0;
      border: 1px solid #ddd;
      border-radius: 3px;

      .btn-color-select {
        width: 12%;
        margin: 4% 0 0 4%;
        height: 30px;

        &:active,
        &:focus {
          outline: 0;
        }

        .icon {
          color: #FFF;
          font-size: 20px;
          line-height: 16px;
          font-weight: 700;
        }
      }
    }

    .list-of-categories {
      li a:not(.btn) {
        line-height: 27px;
      }
    }
  }

  // styling for currencies selection screen
  .list-of-currencies {
    li {
      padding: 11px 20px 9px 20px;

      span {
        color: $lightGreyFont;
        padding: 0 0 0 10px;
      }

      .icon {
        float: right;
        color: #FFF;
      }

    }

    li.active {
      background: #36b451;
      color: #FFF;
      font-weight: bold;

      span {
        color: #FFF;
      }
    }
  }

}