.settings {

  .list-of-settings {
    .table-view-cell {
      .fa {
        width: 25px;
        margin-right: 15px;
        margin-top: 5px;
      }
    }
  }

  &.budget,
  &.add-goal {

    .input-group {
      border: 1px solid #dddddd;
      border-radius: 3px;
      margin: 0 0 15px 0;

      .input-row {
        border: 0;

        label {
          color: #969696;
          font-size: 15px;
        }
      }
    }
  }

  &.add-goal {
    .input-group .input-row {
      border-bottom: 1px solid #dddddd;

      &:last-child {
        border: 0;
      }
    }
  }

  // styling for add category screen
  &.add-category {

    .color-list {
      padding: 0 0 15px 0;
      border: 1px solid #ddd;
      border-radius: 3px;

      .btn-color-select {
        width: 12%;
        margin: 4% 0 0 4%;
        height: 30px;

        &:active,
        &:focus {
          outline: 0;
        }

        .icon {
          color: #FFF;
          font-size: 20px;
          line-height: 16px;
          font-weight: 700;
        }
      }
    }

    .list-of-categories {
      li a:not(.btn) {
        line-height: 27px;
      }
    }
  }

  // styling for currencies selection screen
  .list-of-currencies {
    li {
      padding: 11px 20px 9px 20px;

      span {
        color: $lightGreyFont;
        padding: 0 0 0 10px;
      }

      .icon {
        float: right;
        color: #FFF;
      }

    }

    li.active {
      background: #36b451;
      color: #FFF;
      font-weight: bold;

      span {
        color: #FFF;
      }
    }
  }
}

.goal-days {
  float: left;
  border-radius: 6px;
  border: 2px solid #CCC;
  padding: 4px 5px;
  margin-right: 15px;

  .goal-days-number {
    font-size: 24px;
    display: block;
    font-weight: 400;
    text-align: center;
    margin-top: 2px;
    color: #000;
  }

  .goal-days-tagline {
    color: #777;
    font-size: 12px;
  }

  &.goal-border {
    &.soon {
      border-color: #2ecc71;
    }

    &.near {
      border-color: #f1c40f;
    }

    &.far {
      border-color: #e74c3c;
    }
  }

}

.goal-description {
  padding-top: 8px;
  margin-bottom: 4px;
  color: #000;
  font-size: 24px;
  font-weight: 300;
}

.goal-target {
  color: $lightGreyFont;
}




