h1, h2, h3, h4, h5, h6, p, .title {
  color: #545454;
}

h2 {
  font-size: 22px;
}

h2.centered {
  color: #C2C2C2;
  text-align: center;
  font-weight: 300;
  margin: 15px 0 16px 0;
  font-size: 22px;
}

h3 {
  margin: 10px 0 10px 4px;
  width: 90%;
  font-size: 16px;
}

h3 span {
  font-weight: 300;
}