// define variables
$mainAccentColor: #0fb2be;
$lightGreyFont: #e1e1e1;
$uiGray: #f7f7f7;

// import partials
@import "typography";
@import "nav-bar-top";
@import "nav-bar-bottom";
@import "add-expense";
@import "feed";
@import "overview";
@import "settings";

body,
.content {
  background-color: #f3f3f3;
}


.dataChart {
  display: block !important;
  margin: 0 auto;
  padding: 10px 10px;
}

.btn-block {
  width: 100%;
}

