// define variables


// import partials
@import "nav-bar-top";
@import "nav-bar-bottom";
@import "add-expense";
@import "feed";
@import "overview";
@import "settings";

.content {
  //background-color: #acbdbf;
}

.dataChart {
  display: block !important;
    margin: 0 auto;
    padding: 10px 10px;
}

.btn-block {
  width: 100%;
}

#expenses-add div {
  display: block !important;
  margin: 0 auto;
}
