// define variables
$mainAccentColor: #0fb2be;
$lightGreyFont: #969696;
$uiGray: #f7f7f7;

// import partials
@import "typography";
@import "nav-bar-top";
@import "nav-bar-bottom";
@import "add-expense";
@import "overview";
@import "feed";
@import "goals";
@import "settings";

body,
.content {
  background-color: #f3f3f3;
}

.table-view-cell>a:not(.btn) {
  line-height: 28px;
}

.content-padded {
  margin: 15px;
}

.bar-nav~.content {
  padding: 44px 0 50px 0;
}

.dataChart {
  display: block !important;
  margin: 0 auto;
  padding: 10px 10px;
}