<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn btn-link btn-nav pull-left" href="#expenses/add">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <a class="btn btn-link btn-nav pull-right" href="#expenses/add/details">
    Next
    <span class="icon icon-right-nav"></span>
  </a>

  <h1 class="title">SEK {{amount}}</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content add-expense-category">

  <h2>Pick a category</h2>

  <ul class="table-view category-list">
    <li class="table-view-cell" ng-repeat="category in categories" style="background-color: {{ categoryColors[category.color_id].color_value }};">
      <span ng-click="chooseCategory(category.id)"></span>
      <a>
        {{category.title}}
      </a>
      <i ng-if="category.icon != ''" class="fa fa-2x {{category.icon}}"></i>
      <i ng-if="category.icon == ''" class="fa fa-2x">{{category.initial}}</i>

    </li>
    <li class="table-view-cell" style="background-color: #CCC">
      <a href="#categories/add">
        Add category
      </a>
      <i class="fa fa-2x fa-plus"></i>
    </li>
  </ul>

</div>