<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn btn-link btn-nav pull-left" href="#expenses/add/category">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <a class="btn btn-link btn-nav pull-right" ng-click="saveExpense()">
    Save
    <span class="icon icon-right-nav"></span>
  </a>

  <h1 class="title">SEK {{amount}}</h1>

  <p class="subline">{{selectedCategory.title}}</p>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content content-padded">

<h3>Description (optional)</h3>

  <p>
  	<input type="text" placeholder="Description" ng-model="currentExpense.description">
  </p>

  <h3>Location (optional)</h3>

  <p>
  	<input type="text" placeholder="Location" ng-model="currentExpense.location">
  </p>

  <h3>Time of purchase</h3>

  <p>
    <input type="text" value="{{currentExpense.date}}" ng-model="currentExpense.date">
    <input type="text" value="{{currentExpense.time}}" ng-model="currentExpense.time">
  </p>

  <p>
  	<a class="btn btn-positive btn-block" ng-click="saveExpense()">Save expense</a>
  </p>

</div>
