<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn pull-left" href="#expenses/add">
    Previous
  </a>
  <a class="btn pull-right" href="#expenses/add/details">
    Next
  </a>

  <h1 class="title">SEK {{amount}}</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

  <h2>Pick a category</h2>

  <ul class="table-view category-list">
    <li class="table-view-cell" ng-repeat="category in categories" style="background-color: {{category.color}}">
      <span ng-click="chooseCategory(category.id)"></span>
      <a>
        {{category.title}}
      </a>
     <i class="fa fa-2x {{category.icon}}"></i>
    </li>
  </ul>

</div>