<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Add new expense</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="add-expenses">
  	<input class="infinite" value="0">

  	<div class="amount">
      <div class="ival">0</div>
    	<div class="currency">{{userCurrency.token}}</div>
    </div>
  
	 <a class="btn btn-positive btn-block" href="#expenses/add/category">Add</a>
  </div>
</div>	
