<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn pull-left" href="#expenses/add/category">
    Previous
  </a>
  <a class="btn pull-right" ng-click="saveExpense()">
    Next
  </a>

  <h1 class="title">SEK {{amount}}</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content content-padded">

<h3>Description (optional)</h3>

<p>
	<input type="text" placeholder="Description" ng-model="currentExpense.description">
</p>

<h3>Location (optional)</h3>

<p>
	<input type="text" placeholder="Location" ng-model="currentExpense.location">
</p>

<h3>Time of purchase</h3>

<p>
	<input type="text" placeholder="Time" ng-model="currentExpense.time">
	<input type="text" placeholder="Date" ng-model="currentExpense.date">
</p>

<p>
	<a class="btn btn-positive btn-block" ng-click="saveExpense()">Save expense</a>
</p>

</div>
