<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <a class="btn btn-link btn-nav pull-left" href="#settings">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <h1 class="title">Categories</h1>
  <a class="icon icon-plus pull-right" href="#categories/add"></a>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content settings">

  <ul class="table-view list-of-categories">
    <li class="table-view-divider">Standard</li>
    <li class="table-view-cell" ng-repeat="c in categories" ng-if="c.custom == false">
      <a>
        <div class="category-icon" style="background-color: {{categoryColors[c.color_id].color_value}};">
          <i ng-if="c.icon != ''" class="fa {{c.icon}}"></i>
        </div>
        {{c.title}}
        <a href="#deleteCategoryConfirm" class="btn btn-negative open-modal" data-categoryid="{{c.id}}">Delete</a>
      </a>
    </li>
    <li class="table-view-divider">Custom</li>
    <li class="table-view-cell" ng-repeat="c in categories" ng-if="c.custom == true">
      <a>
        <div class="category-icon" style="background-color: {{categoryColors[c.color_id].color_value}};">
          <i ng-if="c.icon == ''" class="fa">{{c.initial}}</i>
        </div>
        {{c.title}}
        <a href="#deleteCategoryConfirm" class="btn btn-negative open-modal" data-categoryid="{{c.id}}">Delete</a>
      </a>
    </li>
  </ul>

  
  <div id="deleteCategoryConfirm" class="modal">
    <header class="bar bar-nav">
      <a class="icon icon-close pull-right" href="#deleteCategoryConfirm"></a>
      <h1 class="title">Delete Category?</h1>
    </header>

    <div class="content">
      <div class="content-padded">
        <h2>Are you sure you want to delete this category?</h2>
        <p>Spendings you have saved in this category will be moved to the "other" category.</p>
        <button class="btn btn-block btn-negative" ng-click="removeCategory()">Delete</button>
        <a class="btn btn-block close-modal" href="#deleteCategoryConfirm">Cancel</a>
      </div>
    </div>
  </div>

</div>