<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Spendings</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content feed">
	<ul ng-if="userBudget == 0" class="table-view budget-reminder">
	  <li class="table-view-cell">
	    <a class="navigate-right" href="#settings/budget">
	      Define your monthly budget now!
	    </a>
	  </li>
	 </ul>
	<div ng-if="userBudget > 0" class="budget-status" ng-class="{bad: isOverBudget}">
		<h2>You've spent <span>{{monthlyTotal}} {{userCurrency.sign}} ({{spentBudgetPercentage}}%)</span> of your monthly budget so far.</h2>
	</div>
	<ul class="table-view feed-list">
	  <li class="table-view-cell media" ng-repeat="expense_and_cat in expenses_categories">
	    <a class="navigate-right" ng-click="openDetailView(expense_and_cat['expense'].id)">
	      <div class="media-body">
	      	<div class="category-icon" 
	      		style="background-color: {{ categoryColors[ expense_and_cat['category'].color_id ].color_value }};">
	      		<i ng-if="expense_and_cat['category'].icon != ''" class="fa {{expense_and_cat['category'].icon}}"></i>
	      		<i ng-if="expense_and_cat['category'].icon == ''" class="fa">{{expense_and_cat['category'].initial}}</i>
	      	</div>
	      	<span class="amount">
						{{expense_and_cat["expense"].amount}}&nbsp;{{userCurrency.sign}}
					</span>
					<span class="date">
						{{expense_and_cat["expense"].date | date: 'MMM d'}}
					</span>
	      </div>
	    </a>
	  </li>
	</ul>
</div>