.bar-nav ~ .content {
  padding-top: 55px; }

.bar {
  height: 55px; }

.nav-bar-bottom {
  background-color: #ededed;
  height: 65px; }
  .nav-bar-bottom .tab-item {
    padding: 6px 0 0 0; }
    .nav-bar-bottom .tab-item i {
      display: block; }
    .nav-bar-bottom .tab-item .tab-label {
      font-size: 14px; }

h2 {
  margin: 15px 5% 15px 5%;
  width: 90%;
  font-size: 22px; }

h3 {
  margin: 15px 5% 10px 5%;
  width: 90%;
  font-size: 16px; }

.category-list {
  width: 90%;
  margin: 0 auto;
  border: 0; }
  .category-list .table-view-cell {
    display: block;
    width: 30%;
    height: 86px;
    float: left;
    margin: 0 5% 14px 0;
    background-color: #ccc;
    border: 0;
    text-align: center;
    padding: 0; }
    .category-list .table-view-cell a {
      font-size: 12px;
      margin: 0;
      line-height: 12px;
      width: 100%;
      bottom: 9px;
      position: absolute;
      color: rgba(255, 255, 255, 0.6);
      z-index: 50; }
    .category-list .table-view-cell .fa {
      position: absolute;
      width: 86px;
      text-align: center;
      top: 20px;
      left: 0;
      color: rgba(255, 255, 255, 0.5);
      z-index: 50; }
    .category-list .table-view-cell span {
      position: absolute;
      top: 0;
      left: 0;
      width: 86px;
      height: 86px;
      z-index: 100; }
  .category-list .table-view-cell:nth-child(3n) {
    margin-right: 0; }

.category-icon {
  display: block;
  position: static;
  width: 30px;
  height: 30px;
  text-align: center;
  float: left;
  border-radius: 2px; }
  .category-icon i {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: 7px 0 0 -1px; }

.feed .category-icon {
  margin: 0 10px 0 0; }

.feed-detail .input-row label {
  color: #969696; }
.feed-detail .category input {
  float: left;
  width: 55%;
  margin: 0;
  float: left; }
.feed-detail .category .category-icon {
  margin: 5px 0 0 0; }

.dataChart {
  display: block !important;
  margin: 0 auto;
  padding: 10px 10px; }

.btn-block {
  width: 100%; }

#expenses-add div {
  display: block !important;
  margin: 0 auto; }
