<nav class="bar bar-tab">
  <a class="tab-item active" href="#expenses/add">
    <span class="icon icon-plus"></span>
    <span class="tab-label">Add</span>
  </a>
  <a class="tab-item" href="#feeds">
    <span class="icon icon-list"></span>
    <span class="tab-label">Feed</span>
  </a>
  <a class="tab-item" href="#overview">
    <span class="icon icon-info"></span>
    <span class="tab-label">Overview</span>
  </a>
  <a class="tab-item" href="#settings/">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>