<nav class="bar bar-tab nav-bar-bottom">
  <a class="tab-item" href="#expenses/add">
    <i class="fa fa-plus"></i>
    <span class="tab-label">Add</span>
  </a>
  <a class="tab-item" href="#feed">
    <i class="fa fa-th-list"></i>
    <span class="tab-label">Spendings</span>
  </a>
  <a class="tab-item" href="#overview">
    <i class="fa fa-bar-chart-o"></i>
    <span class="tab-label">Overview</span>
  </a>
  <a class="tab-item" href="#settings/">
    <i class="fa fa-gear"></i>
    <span class="tab-label">Settings</span>
  </a>
</nav>