<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Add category</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
      
	<div id="category-add" class="content-padded">
      <form class="input-group">
        <div class="input-row">
          <label>Title</label>
          <input type="text" placeholder="Beer">
        </div>
      </form>

  <div id="category-add" class="content-padded">
      <form class="input-group">
        <div class="input-row">
          <label>Color Tag</label>
          <input type="text" placeholder="Color">
        </div>
      </form>

   <div id="category-add" class="content-padded">
      <form class="input-group">
        <div class="input-row">
          <label>Add Icon</label>
          <input type="text" placeholder="Icon">
        </div>
      </form>

      <button class="btn btn-positive btn-block">Add category</button>
	</div>	
</div>