<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" ng-click="goBack()">
    <span class="icon icon-left-nav"></span>
    Back
    </a>
  <h1 class="title">Set Budget</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content settings budget" ng-swipe-right="goBack()">

  <div class="content-padded">
    <h3>Monthly budget in {{userCurrency.token}}</h3>
    <form class="input-group">
      
      <div class="input-row">
        <label>Budget</label>
        <input type="number" pattern="[0-9.]+" placeholder="400" ng-model="currentUser.budget">
      </div>

    </form>

    <button class="btn btn-positive btn-block" ng-click="goBack()">Save</button>

  </div>

</div>