<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Settings</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
	<div id="settings">
      <ul class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right" href="#category/add">
            <span class="media-object pull-left icon icon-plus"></span>
            <div class="media-body">
              Add Category
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#settings/budget">
            <span class="media-object pull-left icon icon-compose"></span>
            <div class="media-body">
              Define Budget
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#goal/add">
            <span class="media-object pull-left icon icon-edit"></span>
            <div class="media-body">
              Define Goal
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#settings/change-currency">
            <span class="media-object pull-left icon icon-gear"></span>
            <div class="media-body">
              Change Currency
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="#settings/maximum-per-spending">
            <span class="media-object pull-left icon icon-star-filled"></span>
            <div class="media-body">
              Maximum Per Spending
            </div>
          </a>
        </li>
      </ul>

	</div>
</div>