<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Feeds</h1>
</header>

<ng-include src="'partials/nav-bar-bottom.html'"></ng-include>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="input-row">
    <label>Amount</label>
    <input type="text" value="SEK {{expense.amount}}" readonly>
  </div>
  <div class="input-row">
    <label>Description</label>
    <input type="text" value="{{expense.description}}" readonly>
  </div>
  <div class="input-row">
    <label>Category</label>
    <input type="text" value="{{expense.category_id}}" readonly>
  </div>
  <div class="input-row">
    <label>Date</label>
    <input type="text" value="{{expense.date}}" readonly>
  </div>
  <div class="input-row">
    <label>Time</label>
    <input type="text" value="{{expense.time}}" readonly>
  </div>
  <div class="input-row">
    <label>Location</label>
    <input type="text" value="{{expense.location}}" readonly>
  </div>
</div>