<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Overview</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="#expenses/add">
    <span class="icon icon-plus"></span>
    <span class="tab-label">Add</span>
  </a>
  <a class="tab-item" href="#feeds">
    <span class="icon icon-list"></span>
    <span class="tab-label">Feed</span>
  </a>
  <a class="tab-item active" href="#overview">
    <span class="icon icon-info"></span>
    <span class="tab-label">Overview</span>
  </a>
  <a class="tab-item" href="#settings">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
	<div class="overview">
	  <div class="segmented-control">
      <a id="categoryTab" class="control-item active" href="#byCategoryContainer">
        By Category
      </a>
      <a id="timeTab" class="control-item" href="#byTimeContainer">
        By Time
      </a>
    </div>
    <div class="charts">
      <div id="byCategoryContainer" class="control-content active">
        <canvas id="byCategoryChart" class="dataChart" width="150" height="100"></canvas>
        <ul class="table-view">
          <li class="table-view-cell" ng-repeat="category in categories">
            <a class="navigate-right">
              {{category.title}} <span class="pull-right">{{category.amount}} SEK</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="byTimeContainer" class="control-content">
        <canvas id="byTimeChart" class="dataChart" width="150" height="100"></canvas>
        <ul class="table-view">
          <li class="table-view-cell">
              This Week     <span class="pull-right">300 SEK</span>
          </li>
          <li class="table-view-cell">
              Last Week     <span class="pull-right">1300 SEK</span>
          </li>
          <li class="table-view-cell">
              Last Month    <span class="pull-right">1805 SEK</span>
          </li>
        </ul>
      </div> 
    </div>
  </div>
</div>
