<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Overview</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="#expenses/add">
    <span class="icon icon-plus"></span>
    <span class="tab-label">Add</span>
  </a>
  <a class="tab-item" href="#feeds">
    <span class="icon icon-list"></span>
    <span class="tab-label">Feed</span>
  </a>
  <a class="tab-item active" href="#overview">
    <span class="icon icon-info"></span>
    <span class="tab-label">Overview</span>
  </a>
  <a class="tab-item" href="#settings">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
	<div class="overview">
	  <div class="segmented-control">
      <a class="control-item active" href="#item1mobile">
        Weekly
      </a>
      <a class="control-item" href="#item2mobile">
        Monthly
      </a>
    </div>
    <div class="card">
      <span id="item1mobile" class="control-content active">Item 1</span>
      <span id="item2mobile" class="control-content">Item 2</span>
      <span id="item3mobile" class="control-content">Item 3</span>
    </div>

    <div>
      <canvas id="myChart" width="100" height="100"></canvas>
    </div>  
</div>
<script type="text/javascript">
  //Get context with jQuery - using jQuery's .get() method.
  var ctx = $("#myChart").get(0).getContext("2d");
  //This will get the first returned node in the jQuery collection.
  var myNewChart = new Chart(ctx);
  var data = [
    {
      value: 30,
      color:"#F7464A"
    },
    {
      value : 50,
      color : "#E2EAE9"
    },
    {
      value : 100,
      color : "#D4CCC5"
    },
    {
      value : 40,
      color : "#949FB1"
    },
    {
      value : 120,
      color : "#4D5360"
    }

  ]
  new Chart(ctx).Doughnut(data,{});
</script>
